@charset "UTF-8";
/** -------------------------------------------- Page icons -------------------------------------------- */
/* line 2, cmstweaks.scss */
.page-icon, a .jstree-pageicon {
  background-image: url(../icons/page-icons.png);
}

/* line 6, cmstweaks.scss */
li.class-RedirectorPage > a .jstree-pageicon {
  background-position: 0 -16px;
}

/* line 10, cmstweaks.scss */
li.class-VirtualPage > a .jstree-pageicon {
  background-position: 0 -32px;
}

/* line 14, cmstweaks.scss */
li.class-HomePage > a .jstree-pageicon {
  background-position: 0 -48px;
}

/* line 18, cmstweaks.scss */
li.class-UserDefinedForm > a .jstree-pageicon {
  background-position: 0 -64px;
}

/* 5 */
/*li.class-Profile > a .jstree-pageicon { background-position: 0 -80px; }*/
/*li.class-Cart > a .jstree-pageicon { background-position: 0 -96px; }*/
/* line 25, cmstweaks.scss */
li.class-ErrorPage > a .jstree-pageicon {
  background-position: 0 -112px;
}

/*li.class-PlusPage > a .jstree-pageicon { background-position: 0 -128px; }*/
/* line 30, cmstweaks.scss */
li.class-SpecialistCatalog > a .jstree-pageicon {
  background-position: 0 -144px;
}

/* 10 */
/* line 35, cmstweaks.scss */
li.class-Specialist > a .jstree-pageicon {
  background-position: 0 -160px;
}

/* line 39, cmstweaks.scss */
li.class-PublicationCatalog > a .jstree-pageicon {
  background-position: 0 -176px;
}

/* line 43, cmstweaks.scss */
li.class-Catalog > a .jstree-pageicon {
  background-position: 0 -192px;
}

/* line 47, cmstweaks.scss */
li.class-CatalogItem > a .jstree-pageicon {
  background-position: 0 -208px;
}

/* line 51, cmstweaks.scss */
li.class-DepartmentHolder > a .jstree-pageicon {
  background-position: 0 -224px;
}

/* 15 */
/*li.class-DepartmentHolder > a .jstree-pageicon { background-position: 0 -240px; }*/
/* line 57, cmstweaks.scss */
li.class-SitemapPage > a .jstree-pageicon {
  background-image: url(../icons/page-icons.png) !important;
  background-position: 0 -256px !important;
}

/* line 62, cmstweaks.scss */
li.class-SimpleCalendar > a .jstree-pageicon {
  background-image: url(../icons/page-icons.png) !important;
  background-position: 0 -272px !important;
}

/* line 67, cmstweaks.scss */
li.class-ArchivePage > a .jstree-pageicon {
  background-position: 0 -288px;
}

/* line 71, cmstweaks.scss */
li.class-ContactPage > a .jstree-pageicon {
  background-position: 0 -304px;
}

/* 20 */
/* line 76, cmstweaks.scss */
li.class-InfoPage > a .jstree-pageicon {
  background-position: 0 -320px;
}

/* line 80, cmstweaks.scss */
li.class-BlocksPage > a .jstree-pageicon {
  background-position: 0 -336px;
}

/* line 84, cmstweaks.scss */
li.class-VideoPage > a .jstree-pageicon {
  background-position: 0 -352px;
}

/* line 88, cmstweaks.scss */
li.class-Department > a .jstree-pageicon {
  background-position: 0 -368px;
}

/* line 92, cmstweaks.scss */
li.class-BlockPage > a .jstree-pageicon {
  background-position: 0 -384px;
}

/* 25 */
/* line 97, cmstweaks.scss */
li.class-IFramePage > a .jstree-pageicon {
  background-position: 0 -400px;
}

/* line 101, cmstweaks.scss */
li.class-ProtectedPage > a .jstree-pageicon {
  background-position: 0 -416px;
}

/* line 105, cmstweaks.scss */
li.class-ImportedContent > a .jstree-pageicon {
  background-position: 0 -432px;
}

/* line 109, cmstweaks.scss */
li.class-SettingsPage > a .jstree-pageicon {
  background-position: 0 -448px;
}

/* line 113, cmstweaks.scss */
li.class-DialogPage > a .jstree-pageicon {
  background-position: 0 -464px;
}

/* 30 */
/* line 118, cmstweaks.scss */
li.class-HelpPage > a .jstree-pageicon {
  background-position: 0 -480px;
}

/* line 122, cmstweaks.scss */
li.class-SpecialistFilteredCatalog > a .jstree-pageicon {
  background-position: 0 -496px;
}

/* extra page images! (16px per image) */
/*li.class-Specialist > a .jstree-pageicon { background-position: 0 -80px; }
li.class-SpecialistCatalog > a .jstree-pageicon { background-image: url(../icons/icon-specialistcatalog.png); }
li.class-Catalog > a .jstree-pageicon { background-image: url(../icons/icon-catalog.png); }*/
/* additional margin-left & .small styles for CMS formfields */
/* line 133, cmstweaks.scss */
#Root .ss-uploadfield.margin-left .middleColumn {
  margin-left: 184px !important;
  clear: none;
  max-width: 512px;
  max-width: 600px;
}

/* line 140, cmstweaks.scss */
.field.stacked.margin-left label {
  float: left;
}

/* line 144, cmstweaks.scss */
.htmleditor.margin-left .middleColumn,
.ss-gridfield.margin-left,
.togglecomposite.margin-left {
  margin-left: 184px;
  clear: none;
}

/* line 151, cmstweaks.scss */
.htmleditor.small .middleColumn {
  margin-left: 184px;
  width: 600px;
  clear: none;
}

/* line 157, cmstweaks.scss */
.field.full-width .middleColumn input.text {
  width: 512px;
}

/* line 161, cmstweaks.scss */
.field.half-width .middleColumn input.text {
  width: 256px;
}

/* line 165, cmstweaks.scss */
.field.fourth-width .middleColumn input.text {
  width: 128px;
}

/* line 169, cmstweaks.scss */
.field.eighth-width .middleColumn input.text {
  width: 64px;
}

/* line 173, cmstweaks.scss */
.field.inline-block .middleColumn,
.field.inline-block .description,
.field.inline-block label.right {
  display: inline-block;
  margin-left: 0;
  margin-right: 4px;
}

/* line 181, cmstweaks.scss */
.field.hide, .field.hidden {
  display: none;
}

/* line 185, cmstweaks.scss */
.field.label-bold label {
  font-weight: bold;
}

/* inline fields */
/* line 190, cmstweaks.scss */
.field.inline {
  float: left;
  margin-right: 12px;
  border-bottom: none;
  padding: 0;
}

/* line 197, cmstweaks.scss */
.field.inline + .field.inline .middleColumn {
  margin-left: 0;
  display: inline-block;
}

/* line 202, cmstweaks.scss */
.field.inline + .field.inline .description {
  margin-left: 0;
}

/* line 206, cmstweaks.scss */
.field.inline + .field.inline label {
  width: auto;
}

/* line 210, cmstweaks.scss */
.field.inline-nolabel label {
  display: none;
}

/* line 214, cmstweaks.scss */
.field.inline-last + .field {
  clear: both;
  border-top: 1px solid #D2D5D8;
  padding-top: 8px;
}

/* line 220, cmstweaks.scss */
.field.inline.inline-toggletext input.text {
  width: 448px;
}

/* general tweaks */
/* line 225, cmstweaks.scss */
h2:first-child {
  margin-top: 0;
}

/* line 229, cmstweaks.scss */
input.read-only-appearance[readonly]:focus,
input.read-only-appearance[readonly] {
  border: none;
  background-image: none;
  background: transparent;
  padding: 0;
  box-shadow: none;
}

/* fix for a.o. Tagfield in single modus */
/* line 239, cmstweaks.scss */
.select2-container .selection .select2-selection--single {
  height: 32px;
  padding: 1px 7px !important;
  /* Tagfield css has mucho importants... */
  width: 512px;
}

/* line 245, cmstweaks.scss */
.select2-container--default .selection .select2-selection--single .select2-selection__rendered {
  color: #4f5861;
  font-size: 12px;
}

/* line 250, cmstweaks.scss */
.ss-gridfield .select2-container .selection .select2-selection--single {
  height: auto;
  width: auto;
}

/* float page-tabs left instead of right */
/*#Root.ui-tabs .ui-tabs-nav {
	float: left;
	padding-left: 22px;
}
#Root.ui-tabs .ui-tabs-panel .ui-tabs {  // tabs inside tabs   or instead of root: .cms-content-fields 
	clear: both;
	padding-top: 0;
	border-top: 1px solid #c0c0c2;
	border-radius: 0;
}
*/
/* progressbar for .loading-feedback buttons */
/* line 270, cmstweaks.scss */
#loading_feedback_progressbar {
  position: relative;
  z-index: 10000;
  /* one above .cms-content-loading-overlay / spinner */
  margin: 200px auto;
  width: 40%;
  background-color: #005a92;
  background-image: none;
  border: 4px solid #005a92;
}

/* line 280, cmstweaks.scss */
.show-loading-progressbar .cms-content-loading-spinner {
  display: none;
}

/* line 284, cmstweaks.scss */
.progress_label {
  position: absolute;
  margin: 5px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 0 1px #333;
}

/* line 292, cmstweaks.scss */
#loading_feedback_progressbar .ui-progressbar-value {
  /*background-color: #328cbf;*/
  /*background-image: none;*/
  background-color: #5eceee;
  -webkit-transition: width .5s;
  /* Safari */
  transition: width .5s;
  /* borrowed from Bootstrap */
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  /*animation-name: progress-bar-stripes;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: initial;
  animation-iteration-count: infinite;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;*/
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

/* WebKit (BS) */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
/* Spec and IE10+ (BS) */
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
/* fix for nested/fieldgroups to include translatable icon when fluent applies */
/* line 341, cmstweaks.scss */
.field label.LocalisedField:after {
  float: left;
  content: url("../../fluent/images/menu-icon-16-green.png");
  display: block;
  width: 16px;
  height: 16px;
  padding: 0 6px 0 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* improvements of the sitetree area */
/* line 354, cmstweaks.scss */
.cms-tree.jstree-apple .status-addedtodraft > a {
  color: #80A3D1;
}

/*.cms-tree.jstree-apple .status-addedtodraft > a { color: #0073C1; }*/
/* line 359, cmstweaks.scss */
.cms-tree.jstree-apple .status-addedtodraft > a span.item {
  border-bottom: 1px dashed #999;
}

/* line 363, cmstweaks.scss */
#cms-content-tools-CMSMain #resizer {
  font-size: 14px;
  position: absolute;
  margin-bottom: 28px;
  padding: 3px;
  right: 2px;
  width: 14px;
  text-align: center;
  bottom: 0;
  color: #666;
  border-radius: 3px;
}

/* line 376, cmstweaks.scss */
#cms-content-tools-CMSMain #resizer:hover {
  color: #555;
  background: #ccc;
  cursor: col-resize;
}

/* line 382, cmstweaks.scss */
#cms-content-tools-CMSMain.collapsed #resizer {
  display: none;
}

/* Displaylogicwrapper fixes */
/* line 387, cmstweaks.scss */
div.displaylogicwrapper > .field {
  border-bottom: 1px solid #D2D5D8;
}

/* line 391, cmstweaks.scss */
div.displaylogicwrapper:last-child > .field {
  border-bottom: none;
}

/* Gridfield inlinesearch layout fix */
/* line 396, cmstweaks.scss */
.filter-header .extra .fieldgroup.nolabel .fieldgroup-field .fieldholder-small {
  padding-bottom: 0;
}

/* Gridfield design update */
/* line 399, cmstweaks.scss */
.cms table.ss-gridfield-table tr.title th,
.cms table.ss-gridfield-table tr td.bottom-all {
  background: transparent;
  background: #eee;
  border-top: 1px solid #D2D5D8;
  border-bottom: 1px solid #D2D5D8;
  background-image: transparent;
}

/* line 410, cmstweaks.scss */
.cms table.ss-gridfield-table tr th.main {
  color: black;
  background: #eee;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #D2D5D8;
  font-weight: normal;
}

/* line 421, cmstweaks.scss */
.cms table.ss-gridfield-table td:first-child,
.cms table.ss-gridfield-table tr th.main:first-child {
  border-left: 1px solid #D2D5D8;
}
/* line 424, cmstweaks.scss */
.cms table.ss-gridfield-table td:last-child,
.cms table.ss-gridfield-table tr th.main:last-child {
  border-right: 1px solid #D2D5D8;
}

/* line 429, cmstweaks.scss */
.cms table.ss-gridfield-table thead tr:first-child:hover {
  background-color: transparent;
}

/* line 433, cmstweaks.scss */
.cms table.ss-gridfield-table tr th,
.cms table.ss-gridfield-table tr td.bottom-all .pagination-records-number {
  font-size: 13px;
  color: black;
  border-right: none;
  border-right: 1px solid #D2D5D8;
  border-left: 1px solid #D2D5D8;
}

/* line 444, cmstweaks.scss */
.cms table.ss-gridfield-table tr th.main span,
.cms .ss-gridfield .right .pagination-records-number,
.cms table.ss-gridfield-table tr td.bottom-all .pagination-records-number,
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination .pagination-page-number {
  color: black;
  text-shadow: none;
}

/* line 451, cmstweaks.scss */
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination .pagination-page-number {
  margin: 0 6px;
}

/* line 453, cmstweaks.scss */
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button {
  background: none !important;
  margin: 0px;
  padding: 0 12px;
}
/* line 457, cmstweaks.scss */
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button:before {
  content: '‹';
  position: absolute;
  color: black;
  font-size: 16px;
  margin-top: 4px;
  margin-left: -3px;
}
/* line 466, cmstweaks.scss */
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button:hover {
  background-color: lightgrey !important;
}
/* line 467, cmstweaks.scss */
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.action.ss-gridfield-firstpage:before {
  content: '«';
}
/* line 468, cmstweaks.scss */
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.action.ss-gridfield-nextpage:before {
  content: '›';
}
/* line 469, cmstweaks.scss */
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.action.ss-gridfield-lastpage:before {
  content: '»';
}

/* line 472, cmstweaks.scss */
.cms table.ss-gridfield-table tr td.bottom-all .pagination-records-number {
  border: none;
}

/* line 476, cmstweaks.scss */
.cms table.ss-gridfield-table tr.title th h2 {
  font-size: 14px;
  font-weight: normal;
}

/* line 481, cmstweaks.scss */
.cms table.ss-gridfield-table tr.title th {
  text-shadow: none;
}
/* line 484, cmstweaks.scss */
.cms table.ss-gridfield-table tr.title th * {
  color: black !important;
}

/* line 489, cmstweaks.scss */
.cms table.ss-gridfield-table tr td {
  color: black;
}

/* line 493, cmstweaks.scss */
.cms table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.trigger {
  background-position: -17px -38px;
}

/* Gridfield addnewmulticlass after button fix */
/* line 499, cmstweaks.scss */
.ss-gridfield-buttonrow-after .ss-gridfield-add-new-multi-class-inline {
  margin-top: 12px;
}

/* line 503, cmstweaks.scss */
.ss-gridfield-buttonrow-after .ss-gridfield-add-new-multi-class-inline select.chzn-done {
  display: none;
}

/* line 507, cmstweaks.scss */
.ss-gridfield-buttonrow-after .ss-gridfield-add-new-multi-class-inline .dropdown {
  margin-top: -2px;
}

/* line 511, cmstweaks.scss */
.cms table.ss-gridfield-table tbody .ss-gridfield-editable-row--fieldsHolder td.mceStatusbar {
  max-width: 100%;
}

/* line 515, cmstweaks.scss */
.cms .ss-gridfield .ss-gridfield-buttonrow-after .add-existing-autocompleter input.relation-search {
  margin-top: 12px;
}

/* Various Gridfield Extensions fixes & improvements */
/* line 520, cmstweaks.scss */
.cms .ss-ui-button.gridfield-button-copy {
  cursor: copy;
}

/* line 524, cmstweaks.scss */
.cms .ss-gridfield-editable tbody td {
  cursor: default;
}

/* line 528, cmstweaks.scss */
.cms .ss-gridfield-editable tbody td a {
  cursor: pointer;
}

/* Gridfield EditableRows fixes */
/* line 533, cmstweaks.scss */
.ss-gridfield-editable div.embeddedObjectUrl input.text {
  max-width: 400px !important;
}

/* for nestedcheckboxset/Content Checklists */
/* line 538, cmstweaks.scss */
.nestedcheckboxset .middleColumn > ul > li {
  padding: 8px 0;
  font-weight: bold;
}

/* line 543, cmstweaks.scss */
.nestedcheckboxset .middleColumn > ul > li ul {
  padding: 0;
  font-weight: normal;
}

/* line 548, cmstweaks.scss */
.nestedcheckboxset .middleColumn > ul > li ul li {
  padding-bottom: 0;
}

/* line 552, cmstweaks.scss */
#ContentChecks > label {
  font-size: 13px;
  padding-top: 10px;
  text-shadow: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d3d5;
  -webkit-box-shadow: 0 1px 0 rgba(248, 248, 248, 0.9);
  -moz-box-shadow: 0 1px 0 rgba(248, 248, 248, 0.9);
  -o-box-shadow: 0 1px 0 rgba(248, 248, 248, 0.9);
  box-shadow: 0 1px 0 rgba(248, 248, 248, 0.9);
}

/* Specific */
/* line 565, cmstweaks.scss */
.ss-uploadfield-item-preview img,
.ss-gridfield-item img {
  /*background-image: url('../img/transp_bg.png'); border-style: solid;*/
  background-image: url("../img/transparentbg.png");
}

/*#Form_EditForm_FeaturedCaption,
#Form_EditForm_FeatLeftTitle,
#Form_EditForm_FeatRightTitle
{ height: 50px; }*/
/* SS3.3 CMS tab styling 'improvements' undo's */
/* line 578, cmstweaks.scss */
.ui-tabs .ui-tabs-nav {
  padding-left: 6px;
  margin-top: 16px;
}
/* line 582, cmstweaks.scss */
.ui-tabs .cms-tabset-primary .ui-tabs-nav, .ui-tabs .ui-tabs-nav.cms-tabset-nav-primary, .ui-tabs .cms-content-header-tabs .ui-tabs-nav {
  margin-top: 2px;
}
/* line 587, cmstweaks.scss */
.ui-tabs .ui-tabs-nav .ui-state-default a {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 591, cmstweaks.scss */
.ui-tabs .ui-tabs-nav {
  float: none;
}
/* line 594, cmstweaks.scss */
.ui-tabs .ui-tabs-nav li {
  z-index: 1;
  position: relative;
}
/* line 598, cmstweaks.scss */
.ui-tabs .ui-tabs-nav .ui-state-default a {
  padding: 4px 20px;
  color: black;
}
/* line 602, cmstweaks.scss */
.ui-tabs .ui-tabs-nav li.first a {
  padding-left: 20px;
}
/* line 605, cmstweaks.scss */
.ui-tabs .ui-tabs-nav li::after {
  content: '';
  /* To generate the box */
  position: absolute;
  top: -4px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: #f0f2f4;
  background: #d0d3d5;
  background: #d4dbe1;
  border-radius: 10px 10px 0 0;
  border: 1px solid #d0d3d5;
  margin-bottom: -2px;
  border-bottom: none;
  /*transform: perspective(4px) rotateX(1.5deg);*/
  /* http://codepen.io/minipai/pen/Etnhv/ */
  -webkit-transform: perspective(100px) rotateX(25deg);
  -moz-transform: perspective(100px) rotateX(25deg);
}
/* line 625, cmstweaks.scss */
.ui-tabs .ui-tabs-nav li.ui-state-active::after {
  background: #f6f7f8;
  border-bottom: 2px solid #f6f7f8;
}
/* line 629, cmstweaks.scss */
.ui-tabs .icon-button-group .ui-tabs-nav.cms-tabset-nav-primary {
  margin: 0;
  padding: 0;
}
/* line 632, cmstweaks.scss */
.ui-tabs .icon-button-group .ui-tabs-nav.cms-tabset-nav-primary li::after {
  display: none;
}
/* line 637, cmstweaks.scss */
.ui-tabs#ActionMenus .ui-tabs-nav li::after {
  display: none;
}
/* line 640, cmstweaks.scss */
.ui-tabs .ui-tabs-nav li.ui-state-active {
  z-index: 2;
}
/* line 643, cmstweaks.scss */
.ui-tabs .ui-tabs-nav .ui-state-active a {
  border-bottom: none;
}
/* line 647, cmstweaks.scss */
.ui-tabs.cms-tabset-primary .ui-tabs-nav .ui-state-active a, .ui-tabs .ui-tabs-nav.cms-tabset-nav-primary .ui-state-active a, .ui-tabs .cms-content-header-tabs .ui-tabs-nav .ui-state-active a {
  border-bottom: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

/* some general overrides */
/* line 659, cmstweaks.scss */
label,
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,
.treedropdownfield-title,
.chzn-single span,
.ui-tabs .ui-tabs-nav .ui-state-default a, .ui-tabs .ui-tabs-nav .ui-state-default a:hover {
  font-size: 13px;
  color: black;
}
