.DS_Store
.buildpath
.project
.settings
.site/
.idea/
.vscode/
*.sublime-*

/.env
/vendor/
/themes/simple/
_ss_environment.php
silverstripe-cache
node_modules
*.map
*.log

/resources/
/_resources/
/public/.well-known/
/public/resources/
/public/_resources/
/public/assets/
/*_assets/
/assets/
_resampled
