---
name: admintweaks-config
---
# Make UserForms NOT save form data by default
SilverStripe\UserForms\Model\UserDefinedForm:
  defaults:
    DisableSaveSubmissions: true

# Make Session cookies only use secure connection
SilverStripe\Control\Session:
  cookie_secure: true

SilverStripe\View\Parsers\URLSegmentFilter:
  default_replacements:
    '/&amp;/u': '-et-'
    '/&/u': '-et-'

# Activate GoogleSitemap (& set some defaults)
Wilr\GoogleSitemaps\GoogleSitemap:
  enabled: true
  objects_per_sitemap: 1000
  google_notification_enabled: true
  bing_notification_enabled: true
  use_show_in_search: true


# Various Extensions
---
name: admintweaks-extensions
---
SilverStripe\CMS\Model\SiteTree:
  extensions:
    - Restruct\Silverstripe\AdminTweaks\Extensions\PageHelpersExtension

# NOTE: this extension adds various extra fields & functionality to siteadmin, activate on a per-project basis
#SilverStripe\SiteConfig\SiteConfig:
#  extensions:
#    - Restruct\Silverstripe\AdminTweaks\Extensions\SiteConfigExtension

#SilverStripe\Forms\FormField:
#  extensions:
#    - FormFieldExtension
#
#Text:
#  extensions:
#    - DBStringExtension


# Shortcodes
---
name: admintweaks-shortcodables
Only:
  classexists: Shortcodable\Shortcodable
---
Shortcodable\Shortcodable:
  shortcodable_classes:
    - Restruct\Silverstripe\AdminTweaks\Shortcodes\CurrentYearShortcode
    - Restruct\Silverstripe\AdminTweaks\Shortcodes\FeaturedImageShortcode

