// Variables named so they will be auto-resolved when included in a Boostrap context
$spacer: 1rem !default;
$border-color: #dee2e6 !default;

$base-typo-screen-mobile-max: 767px !default;
// Get actual width from bootstraps $breakpoints if defined
$breakpoints: false !default; // set to false if undefined to prevent error upon checking @if
@if $breakpoints {
  $base-typo-screen-mobile-max: map-get($breakpoints, 'sm') -1 !default;
}

$base-typo-img-margin-side: 1.5 * $spacer !default;
$base-typo-img-margin-bottom: .5 * $spacer !default;
$base-typo-img-margin-top: .3 * $spacer !default;

// Check: https://www.drupal.org/project/wysiwyg/issues/1665986
@mixin editor-wysiwym-layout {
  background: #f3f3fa;
  padding: 10px 20px 20px;

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > p,
  & > ul,
  & > ol,
  & > pre,
  & > div.captionImage,
  & > blockquote,
  & > address {
    background: #fff;
    border: 4px solid #fff;
  }

  & > div.captionImage {
    outline: 1px dashed lightgrey;
  }
}

@mixin editor-base-typography-styles {

  p img {
    max-width: 100%;
    height: auto;
  }

  ol, ul {
    padding-left: 1.4rem;
  }

  p.hidden {
    display: none;
  }

  blockquote, body.mce-content-body > blockquote {
    margin: 2rem 0.35rem;
    border-left: 4px solid $border-color;
    padding-left: 1rem;
  }

  img, .articleText img, .articleText picture {
    max-width: 100%;
    height: auto;
    &.left {
      float:left;
      margin: $base-typo-img-margin-top $base-typo-img-margin-side $base-typo-img-margin-bottom 0 !important;
      max-width: 50%;
    }
    &.right {
      float:right;
      margin: $base-typo-img-margin-top 0 $base-typo-img-margin-bottom $base-typo-img-margin-side !important;
      max-width: 50%;
    }
    &.left, &.right {
      @media (max-width: $base-typo-screen-mobile-max) {
        width: 100%;
        max-width: 100%;
        float: none;
      }
    }
    &.leftAlone {
      display: block;
      margin: $base-typo-img-margin-top auto $base-typo-img-margin-bottom 0 !important;
      float: none;
      clear: both;
    }
    &.rightAlone {
      display: block;
      margin: $base-typo-img-margin-top 0 $base-typo-img-margin-bottom auto !important;
      //float: none;
      clear: both;
    }
    &.center {
      display:block;
      margin: $base-typo-img-margin-top auto $base-typo-img-margin-bottom auto !important;
      clear: both;
    }
  }

  .captionImage {
    width: 100%;
    max-width: 100%;
    img, img.left, img.right {
      max-width: 100%;
    }
    &.left {
      float: left;
      margin: $base-typo-img-margin-top $base-typo-img-margin-side $base-typo-img-margin-bottom 0 !important;
    }
    &.right{
      float:right;
      margin: $base-typo-img-margin-top 0 $base-typo-img-margin-bottom $base-typo-img-margin-side !important;
    }
    &.leftAlone{
      float:none;
      margin: $base-typo-img-margin-top auto $base-typo-img-margin-bottom 0 !important;
    }
    &.rightAlone{
      float:none;
      margin: $base-typo-img-margin-top 0 $base-typo-img-margin-bottom auto !important;
    }
    &.center{
      margin: $base-typo-img-margin-top auto $base-typo-img-margin-bottom auto !important;
    }
    .caption {
      font-style: italic;
    }
  }

}
