// @TODO:
// - Checkboxes
// - ModelAdmin advanced search
// - etc (check ss3-tweaks.scss)


//// Checkboxes (in gridfields)
//input.checkbox.styled-checkbox {
//  &.styled-checkbox-hide {
//    display: none;
//  }
//  + label:before
//    content: '';
//    box-sizing: border-box;
//    display: block;
//    width: 20px;
//    height: 20px;
//    background-color: white;
//    outline: 1px solid rgb(210, 213, 216);
//    text-align: center;
//  }
//  &:checked +label:before {
//    //content: '🔗\uFE0E'; // 𐄂
//    color: white;
//    //font-size: 24px;
//    line-height: 10px;
//    background-color: rgb(51, 141, 193);
//    //border-color: rgb(51, 141, 193);
//    border: 2px solid white;
//    //outline: 1px solid ;
//  }
//}


// nicely stack optionsets into columns
//.optionset {
//  ul {
//    column-count: 4;
//  }
//  li {
//    float: none;
//    width: auto;
//  }
//}


// Make inputs (almost) black instead of 50 shades of gray
h1, h2, h3, h4, h5,
label,
.field input.text, .field select, .field textarea, .form-control {
  color: #43536d;
  //color: black;
}


//// Fix Tagfield multiple spacing
//.multiple .Select--multi .Select-value {
//  margin-left: 3px;
//  margin-top: 3px;
//}


// Uploadfield thumbnails with transparent bg
.uploadfield-item.uploadfield-item--image { // .uploadfield-item--missing
  &:before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    //background-color: white;
    background-color: #999999;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8" fill="%23aaaaaa"><rect width="4" height="4" x="0" y="0" /><rect width="4" height="4" x="4" y="4" /></svg>');
  }
  .uploadfield-item__thumbnail {
    z-index: 1;
  }
}


// Fix editablecolumns enlarging GridField rows
.grid-field.ss-gridfield-editable input.editable-column-field {
  margin-top: -.6rem !important;
  margin-bottom: -.6rem !important;
}
.grid-field .ss-gridfield-item img {
  margin-top: -1.2rem;
  margin-bottom: -1.2rem;

  // enlarge 4 times on hover
  &.hover-zoom {
    transition: transform .2s;
    transform-origin: left;
    &:hover {
      transform: scale(4);
      border-radius: 1px;
      border: 1px solid white;
    }
  }
}
.grid-field.ss-gridfield-editable p.readonly {
  margin-bottom: 0;
}


// Remove (faux) 'stacked' layout on Elemental blocks (:first-child -> just for 'Main' tab/content)
.elementalarea .element-editor-editform .tab-pane:first-child > div > .form-group {
  @media (min-width: 992px) {
    display: flex;
    & > .form__field-label {
      max-width: calc(100%/6);
    }

    &.checkbox.field, &.readonly.pad-left {
      padding-left: calc(100% / 6);
      margin-left: -0.8rem;
    }
    &.readonly.pad-left {
      margin-left: 0.8rem;
    }

    .form__field-description {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// Fix 'Elemental' popover width
@media (min-width: 545px) {
  .popover-option-set > .popover {
    max-width: 60vw;
  }
  .cms-container--split-mode ~ div .popover-option-set > .popover {
    max-width: 40vw;
  }
}

//
// PAGE ICONS
//
@font-face {
  font-family: 'FA 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-regular-400.eot");
  src: url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-regular-400.woff2") format("woff2"), url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-regular-400.woff") format("woff"), url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-regular-400.ttf") format("truetype"), url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'FA 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-solid-900.eot");
  src: url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-solid-900.woff2") format("woff2"), url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-solid-900.woff") format("woff"), url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-solid-900.ttf") format("truetype"), url("../../fonts/fontawesome-free-5.15.3-web/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

@mixin fa_page_icon($icon, $version:'fas'){
  font-family: 'FA 5 Free' !important;
  font-weight: if($version=='fas',900,400) !important;
  content: $icon;
  width: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
}

li.jstree-leaf > a .jstree-pageicon, .page-icon {
  line-height: 1.25rem;
  height: 1.2rem !important;
  width: 1.4rem !important;
  margin-right: .4rem !important;

  //&[class*="SiteTree"]:before { @include fa_page_icon("\f850"); }
  &[class*="Page"]:before, &[class*="SiteTree"]:before { @include fa_page_icon("\f15b",'far'); }
  &[class*="HomePage"]:before, &.homepage:before { @include fa_page_icon("\f015"); }
  &[class*="RedirectorPage"]:before { @include fa_page_icon("\f5eb"); }
  &[class*="VirtualPage"]:before { @include fa_page_icon("\f24d",'far'); }
  &[class*="SubsitesVirtualPage"]:before, &[class*="CrossSubsiteVirtualPage"]:before { @include fa_page_icon("\f24d"); }
  &[class*="UserDefinedForm"]:before { @include fa_page_icon("\f46d"); }
  &[class*="ErrorPage"]:before { @include fa_page_icon("\f06a"); }
  &[class*="Profile"]:before { @include fa_page_icon("\f2bb"); }
  &[class*="Cart"]:before { @include fa_page_icon("\f07a"); }
  &[class*="AlbumPage"]:before { @include fa_page_icon("\f302",'far'); margin-left: -10%; }
  &[class*="Catalog"]:before { @include fa_page_icon("\f02d"); }
  &[class*="CatalogItem"]:before { @include fa_page_icon("\f15c",'far'); }
  &[class*="Specialist"]:before { @include fa_page_icon("\f0f0"); }
  &[class*="SpecialistCatalog"]:before { @include fa_page_icon("\f80d"); margin-left: -10%; }
  &[class*="SpecialistFilteredCatalog"]:before { @include fa_page_icon("\f80d"); }
  &[class*="PublicationCatalog "]:before { @include fa_page_icon("\f02d"); }
  &[class*="SitemapPage"]:before { @include fa_page_icon("\f0e8"); margin-left: -10%; }
  &[class*="SimpleCalendar"]:before { @include fa_page_icon("\f073",'far'); }
  &[class*="SimpleCalendar"] { background: none !important; }
  &[class*="ArchivePage"]:before { @include fa_page_icon("\f187"); }
  &[class*="ContactPage"]:before { @include fa_page_icon("\f87b"); }
  &[class*="InfoPage"]:before { @include fa_page_icon("\f05a"); }
  &[class*="BlocksPage"]:before, &[class*="BlockPage"]:before { @include fa_page_icon("\f009"); }
  &[class*="VideoPage"]:before { @include fa_page_icon("\f1c8",'far'); }
  &[class*="Department"]:before { @include fa_page_icon("\f1ad",'far'); }
  &[class*="DepartmentHolder"]:before { @include fa_page_icon("\f277"); }
  &[class*="ReservationPage"]:before { @include fa_page_icon("\f274",'far'); }
  &[class*="IFramePage"]:before { @include fa_page_icon("\f247",'far'); }
  &[class*="NewsGridHolder"]:before { @include fa_page_icon("\f0ac"); }
  &[class*="NewsGridPage"]:before { @include fa_page_icon("\f1ea",'far'); margin-left: -10%; }
  &[class*="NewsGridHolder"], &[class*="NewsGridPage"] { background: none !important; }
  &[class*="LifestylePage"]:before { @include fa_page_icon("\f496"); }
  &[class*="ProtectedPage"]:before { @include fa_page_icon("\f023"); }
  &[class*="ImportedContent"]:before { @include fa_page_icon("\f59d"); }
  &[class*="SettingsPage"]:before { @include fa_page_icon("\f013"); }
  &[class*="DialogPage"]:before { @include fa_page_icon("\f086",'far'); }
  &[class*="HelpPage"]:before { @include fa_page_icon("\f1cd",'far'); }
}


//
// Useful stuff from Bigfork
//

// Hide page types that can't be created
#Form_AddForm_PageType .disabled {
  display: none !important;
}

// Hide admin sections that clients rarely use
#Menu-SilverStripe-CampaignAdmin-CampaignAdmin,
#Menu-SilverStripe-Reports-ReportAdmin {
  display: none !important;
}

// Fixes for grouped CMS menu
.cms-menu__list {
  .child-flyout-indicator {
    display: none !important;
  }
  li.children {
    & > a > .text {
      margin-right: 34px;
    }
    &.current > a:hover,
    &.opened a:hover {
      background-color: #d8e4eb;
    }
    a .toggle-children {
      inset: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;

      .toggle-children-icon {
        display: none;
      }
      &:hover {
        background: rgba(85, 137, 167, 0.15);
      }
      &:after {
        font-family: silverstripe !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 26px;
        -webkit-font-smoothing: antialiased;
        content: '(';
        position: absolute;
        top: 50%;
        right: 8px;
        width: 26px;
        height: 26px;
        border-radius: 2px;
        margin-top: -1px;
        padding-top: 0;
        font-size: 17px;
        text-align: center;
        line-height: 26px;
        transform: translateY(-50%);
      }
      &.opened:after {
        content: '*';
      }
    }

    ul.collapsed-flyout {
      margin-top: -52px;
    }
  }

  &.collapsed .opened {
    .child-flyout-indicator {
      display: none !important;
    }
    ul.collapsed-flyout li.clone {
      display: none !important;
    }
    ul.collapsed-flyout li a {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  .menu__icon {
    left: 13px;
  }
  span.text {
    margin-left: 23px;
  }
}

// ?
fieldset.grid.grid-field.ss-gridfield.field {
  margin-bottom: 2em !important;
}
